@mixin gm($t, $c, $r, $w) {
    top: $t;
    border-radius: $r;
    background-color: $c;
    width: $w;
    height: $w;
    left: 0;
    right: 0;
    margin: 0 auto;
}

body {
	margin: 0 3%;
	background-color: #fefbdd;
}
table {
	width: 100%;
	padding: 1rem;
	border-width: 0;
    th { color: #065959 }
    // th:first-of-type,
    td:first-of-type { display: none }
    thead {
        color: #171387;
        #menu_btn {
            cursor: pointer;
        }
    }
    tbody tr {
        margin-bottom: .5rem;
        background-color: lightbrown;
        td {
            padding: 1rem 0;
            color: #065959;
            button {
                visibility: hidden;
                cursor: pointer;
            }
        }
    }
}

nav {
	position: absolute;
    padding: 1rem;
    z-index: 2;
    &#menu_general {
        @include gm(15%, aqua, 50%, 30rem);
        div {
            cursor: pointer;
            position: relative;
            width: max-content;
            &:nth-child(1) {    // add contact
                top: 5rem;
                margin: 0 auto;
                left: 0;
                right: 0;
            }
            &:nth-child(2) { // import btn
                top: 13.5rem
            }
            &:nth-child(3) {    // export btn
                float: right;
                top: 12zrem;
            }
        }
        h3 {
            margin: 0;
        }
        span {
            position: relative;
            @include gm(9rem, rgba(1, 1, 1, 0.5), 50%, 8rem);
            display: block;
        }
    }
    &#contact_form {
        @include gm(15%, beige, 5%, min-content);
        input {
            border-radius: .5rem;
            padding: .2rem;
            margin: .5rem;
            width: 15rem;
            &:nth-of-type(1) { display: none }
        }
        section, h3, div.act {
            text-align: center;
            padding: .5rem 0;
        }
        button {
            cursor: pointer;
        }
    }
}

#shadow {
    background-color: rgba(56, 56, 56, 0.6);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
